﻿@import "colors";

.cross {
  position: relative;

  &:before, &:after {
    position: absolute;
    left: 47%;
    content: ' ';
    height: 100%;
    width: 2px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &.cross-red {
    &:before, &:after {
      background-color: $cross-red-color;
    }
  }

  &.cross-gray {
    &:before, &:after {
      background-color: $cross-gray-color;
    }
  }
}

