﻿@import "colors";
@import "cross";

.grid {
  &.grid-1-player {
    border: 4px $first-player-color solid;
  }

  &.grid-2-player {
    border: 4px $second-player-color solid;
  }

  .row {
    display: flex;
    border-left: 1px solid $grid-border-color;

    .cell {
      border-right: 1px solid $grid-border-color;
      border-bottom: 1px solid $grid-border-color;
    }
  }

  .row:first-child {
    border-top: 1px solid $grid-border-color;
  }
}

@media screen and (orientation: landscape) {
  .grid {
    .cell {
      width: calc(10vh - 2px);
      height: calc(10vh - 2px);
    }
  }
}

@media screen and (orientation: portrait) {
  .grid {
    .cell {
      width: calc(10vw - 2px);
      height: calc(10vw - 2px);
    }
  }
}