﻿@import "colors";
@import "cross";

.information {
  font-weight: bold;
  color: $font-color;

  .players {
    display: flex;
    text-align: center;
    width: 100%;

    .player {
      padding: 5px 30px;
      width: 50%;

      .name {
        border-top: 1px solid $grid-border-color;
        padding-top: 10px;
      }
    }

    .player-1 {
      background-color: $first-player-color;
    }

    .player-2 {
      background-color: $second-player-color;
    }
  }

  .ships {
    flex-wrap: wrap;
    width: 100%;

    .ship {
      display: flex;
      margin: 10px 0;

      .shape {
        width: 50%;
        height: 5vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      .aircraft {
        background-image: url("./../images/aircraft.png");
      }

      .battleship {
        background-image: url("./../images/battleship.png");
      }

      .carrier {
        background-image: url("./../images/carrier.png");
      }

      .cruiser {
        background-image: url("./../images/cruiser.png");
      }

      .submarine {
        background-image: url("./../images/submarine.png");
      }

      .status {
        display: flex;
        align-items: center;
        width: 50%;

        .ship-item {
          margin-left: 2px;

          &.undetected {
            border: 1px solid $circle-color;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media screen and (orientation: landscape) {
  .information {
    margin: 0 10px;
    font-size: 2vh;

    .players {
      margin-top: 4px;

      .score {
        font-size: 10vh;
      }
    }

    .ship-item {
      &.detected {
        width: 4vh;
        height: 4vh;
      }

      &.undetected {
        width: 3vh;
        height: 3vh;
      }
    }
  }
  
  .ships {
    .ship {
      width: 100%;
    }
  }
}

@media screen and (orientation: portrait) {
  .information {
    font-size: 6vw;
    
    .players {
      .score {
        font-size: 10vw;
      }
    }
    
    .ships {
      display: flex;
      
      .ship {
        width: 50%;

        .ship-item {
          &.detected {
            width: 4vw;
            height: 4vw;
          }

          &.undetected {
            width: 4vw;
            height: 4vw;
          }
        }
      }
    }
  }
}

@media screen and (orientation: portrait) and (min-width: 700px) {
  .information {
    display: flex;
    margin-top: 20px;
    font-size: 2vw;

    .players {
      width: 60%;
      .score {
        font-size: 8vw;
      }
    }
    
    .ships {
      .ship {
        margin: 5px 0;
        
        .ship-item {
          &.undetected {
            width: 2vw;
            height: 2vw;
          }
          
          &.detected {
            width: 2vw;
            height: 2vw;
          }
        }
        
        .shape {
          height: 3vh;
        }
      }
    }
  }
}

