﻿body {
  margin: 0;
}

.container {
  width: 100%;
  min-width: 320px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  justify-content: center;
}

@media screen and (orientation: landscape) {
  .container {
    flex-direction: row-reverse;
  }
}

@media screen and (orientation: portrait) {
  .container {
    flex-direction: column;
  }
}